/* styling the backgound colour of web application*/
body {
	background-color: #183f4e;
	
}
/*Styling appreance of text accompanying event poster*/
.caption h3{
	color:white;
	text-align: justify;
	font-family:rockwell;
}

.caption p{
	color:white;
	text-align: justify;
	font-family:rockwell;
}
/*ridding button of the rounded corners */
.btn {
	border-radius:0px;
	margin-top:10px;
}
/*styling panel class encapsulating the text accompanying event posters*/
.panel {
	background-color:transparent;
	width:440px;
	border-color:#c3c3c3;
}
.jumbotron {
	background-color:#617381;
}