
body {
	background-color:platinum;
}
.navbar{
	background-color:#0C090A;
	
}
.navbar-brand{
	font-family:Galena;
	
}

#lst a{
	color: white;
	font-style:bold;
	margin-top:18px;
	margin-right:2px;
}

.navbar h1{
	color:white;
}
.jumbotron{
	color:#2B547E;
	font-family:Rockwell;
	text-align:center;
	background-color:transparent;
	height: 30px;
}
.btn:hover{
	color:#008080;
}