
body {
	background-color:platinum;
}
.navbar{
	background-color:#0C090A;
	
}
.navbar h1{
	color:white;
}
.jumbotron{
	color:#2B547E;
	font-family:Rockwell;
	text-align:center;
	background-color:transparent;
	height: 30px;
}
.btn:hover{
	color:#008080;
}