/* backgorund color for canvas*/
body {
	background-color:platinum;
}
/*styling nav bar menu*/
#lst a{
	color: white;
	font-style:bold;
	margin-top:18px;
	margin-right:2px;
}

.navbar h1{
	color:white;
}
/*color and font to improve appearance of sections before gallery*/
.jumbotron{
	color:#2B547E;
	font-family:Rockwell;
	text-align:center;
	background-color:transparent;
	height: 50px;
}

/*hover to indicate a mouse movement*/
.btn:hover{
	color:#008080;
}