/* Bordered form */
html{
 background: url(logo2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
form {
    border: 8px solid #6050dc;
    max-width: 30%;
    float: left;
    margin-left:40%;
   margin-top: 5%
   margin-bottom: 15;
   background-color: #b8b2b1;
}
form header{
    font-family: Arial;
    color: #333;
    text-align: center;
    text-decoration: underline;
}
.helper{
    color: red;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #2d6930;
    color: white;
    padding: 7px 10px;
    margin: 4px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra style for the cancel button (red) */
.cancel{
    width: auto;
    padding: 5px 9px;
    background-color: #af504c;
}
/* Add padding to containers */
.col_1{
    padding: 16px;
}

/* The "Forgot password" text */
span.Forgotpass {
    float: right;
    padding-top: 16px;
}
#error{
    color: red; 
}

/* Change styles for span and cancel button on extra small screens */

}